<% provide(:title, "Edit user") %>
<% meta :description => "FOSS Nepal User edit",
        :keywords => "FOSS Forum, FOSS User edit" %>
<%= render 'layouts/forum' %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <%= link_to "Change", "http://gravatar.com/emails", :target => "_blank" %>
  </div>
</div>