<% provide(:title, @user.username) %>
<% meta :description => "All users of FOSS Nepal",
        :keywords => "All users, FOSS Nepal" %>
<%= render 'layouts/forum' %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %></br>
        <%= @user.email %></br>
        <h6>Registered <%= @user.created_at.to_s(:joined) %></h6>
      </h1>
    </section>
  </aside>
</div>
<table class="table table-striped">
  <% @user.posts.each do |post|%>
  	<caption><%= @user.username %> Posts</caption>
    <thead>
			<tr>
				<th>Posted <%= post.created_at %> in
          <%= link_to Topic.find(post.topic_id).title, topic_path(Topic.find(post.topic_id).title) %> of <%= link_to Forum.find(post.forum_id).title, forum_path(Forum.find(post.forum_id).title) %>
        </th>
			</tr>
		</thead>
		<tbody>
      <tr>
        <td>
          <%=simple_format(post.body)%>
        </td>
      </tr>
    </tbody>
  <%end%>
</table>