<footer class="footer">
    <div class="container">
      <p><%= mail_to("foss-nepal+subscribe@googlegroups.com", "Subscribe to Mailing List", :encode => "hex")%></p>
    	<p><%= link_to "IRC Channel", "http://irc.freenode.net" %> : #foss-nepal</p>
    	<p><%= mail_to("info@fossnepal.org", "Send us an E-mail", :encode => "hex")%></p>
    	<p>Mail us at:</p>
    	<div class="well">
		<p>FOSS Nepal Community</p>
		<p>P. O. Box 19162</p>
		<p>Kathmandu, Nepal</p></div>
        <p>Content is licensed under <%= link_to "GNU Free Documentation License", "http://www.gnu.org/copyleft/fdl.html", :target => "_blank" %>.</p>
        <ul class="footer-links">
          <li><%= link_to "Blog", "#" %></li>
          <li class="muted">&middot;</li>
          <li><%= link_to "Forum", "#" %></li>
        </ul>

        <div class="bs-docs-social">
        	<div class = "container">
    			<ul class="bs-docs-social-buttons">
        			<li>
        				<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=sushilthe&repo=FOSS-Nepal&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      				</li>
      				<li>
        				<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=sushilthe&repo=FOSS-Nepal&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
      				</li> 
  				</ul>
			</div>
		</div>
	</div>
</footer>