<% provide(:title, 'Forum') %>
<% meta :description => "FOSS Nepal Forum",
        :keywords => "FOSS Forum, FOSS Nepal Discussion" %>
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>FOSS Nepal Forum</h1>
    <p class="lead">Discussion related to FOSS Nepal Community</p>
  </div>
</header>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Forums", forums_path %></li>
          <% if signed_in? %>
            <% if current_user.admin?%>
 	            <li><%= link_to "Users", users_path %></li>
            <% end %>
  	        <li id="fat-menu" class="dropdown">
   	          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Account <b class="caret"></b></a>
   	          <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
    	         <li><%= link_to "Profile", current_user %></li>
    	         <li><%= link_to "Settings", edit_user_path(current_user) %></li>
    	         <li class="divider"></li>
    	         <li>
    	           <%= link_to "Sign out", signout_path, method: "delete" %>
    	         </li>
    	       </ul>
 	          </li>
	       <% else %>
  	       <li><%= link_to "Sign in", signin_path %></li> <li><%= link_to "Create a new account", signup_path %></li>
	       <% end %>
        </ul>
      </nav>
    </div>
  </div>
</div>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>