<% provide(:title, 'Forum') %>
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>FOSS Nepal Forum</h1>
    <p class="lead">Discussion related to FOSS Nepal Community</p>
  </div>
</header>

<div class="forum">
	<% if signed_in? %>
 	 <li><%= link_to "Users", '#' %></li>
  	<li id="fat-menu" class="dropdown">
   	 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
   	   Account <b class="caret"></b>
   	 </a>
   	 <ul class="dropdown-menu">
    	  <li><%= link_to "Profile", current_user %></li>
    	  <li><%= link_to "Settings", '#' %></li>
    	  <li class="divider"></li>
    	  <li>
    	    <%= link_to "Sign out", signout_path, method: "delete" %>
    	  </li>
    	</ul>
 	 </li>
	<% else %>
  	<p class="lead">Please <%= link_to "Sign in", signin_path %> or <%= link_to "Create a new account", signup_path %>.</p>
	<% end %>
</div>