<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "FOSS Nepal", root_path, class: "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="">
            <%= link_to "Home", root_path %>
          </li>
          <li class="">
            <%= link_to "About", about_path %>
          </li>
          <li class="">
            <%= link_to "News", '#' %>
          </li>
          <li class="">
            <%= link_to "Events", '#' %>
          </li>
          <li class="">
            <%= link_to "Workshops", '#' %>
          </li>
          <li class="">
            <%= link_to "Trainings", '#' %>
          </li>
          <li class="">
            <%= link_to "Release Parties", '#' %>
          </li>
          <li class="">
            <%= link_to "Participation", '#' %>
          </li>
          <li class="">
            <%= link_to "Deployments", '#' %>
          </li>
          <li class="">
            <%= link_to "Meetings", '#' %>
          </li>
          <li class="">
            <%= link_to "Resources", '#' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>